*{
box-sizing: border-box;
 font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

$gray:#edebec!important;
$white: white;
$or:#deb666;
$dark:#b69854;
$ddd: #b5b5b5;
$darkmain:rgb(119, 116, 116);
$black:black; 
$ddk:#9c999c;




.scrollup{
  z-index: 999999999999;
   position: fixed !important;
   transition: 0.2;
  top: 0 !important;
  right: 0 !important;
  background-color: $white;
  padding: 10px 0px;
  width: 100%;

}


.hide{
    display: none;
}


.slider-in img{
width: 100%;
}
.slider-in {
position: relative;
}
.slick-next {
    right: 0px !important;
}
.slick-prev{
    left: 0px;
}

.slick-dots {
    bottom: 435px !important;
    display: flex !important;
    flex-direction: column !important;
   width: auto !important;
   left: 1210px;
   gap: 15px;

}

 .slick-active{
    border-radius: 50px;
    outline: 3px solid $white;
    outline-offset: 4px;

 }

 .slick-dots li {
    background-color: $gray;
    border-radius: 50px;
    width: 15px !important;
    height: 15px !important;
}



.main-header{
position: relative;
bottom: 642px;
display: flex;
align-items: center;

justify-content: center;
}
.main-header-logo img{
    width: 149px;
    position: relative;
    left: -80px;
    top: 7px;
}
.main-header-menu{
 ul{
    display: flex;
    position: relative;
    left: 10px;
  
    li{
    padding: 20px 20px;
    list-style: none;
    font-weight: 700;
    position: relative;
    transform-origin: top;

    &:hover{ 
        .boxn1{
    opacity: 1;
transform:translateY(0);
visibility: visible;

    }


li{
 color: $or;
 }


}
    a{
    text-decoration: none;
    color: $white;
    }
    }
 }
}
.book{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color:$or;
    padding: 10px 13px;
    border-radius: 4px;
    text-decoration: none;
    color:  $white;
    position: relative;
    left: 76px;
    font-size: 14px;
    font-weight: 600;
}
.book .icon{
font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fa-calendar{
background-color:$darkmain;
    width: 23px;
    height: 22px;
    border-radius: 51px;
    text-align: center;
}
.book:hover{
background-color:$dark;
}

.boxn1{
background-color:$white;
width: 144px;
position:absolute;
top: 60px;
height: 50vh;
right: -63px;
box-shadow: 0px 1px 6px 1px $ddd;
opacity: 0;
transform:translateY(40px);
visibility: hidden;
transition: .5s;
ul{
display: flex;
flex-direction: column;
    position: relative;
    left: -40px;
    top: 10px;

li{
list-style: none;
 border-bottom: 1px solid $ddd;
padding: 7px 40px;
width: 142px;

a{
text-decoration: none;
color:$darkmain;

}
}
}
}


.slick-dots li button:before {
font-size: 0px !important; 
}


.modren-box-main{
position: absolute;
width: 1206px;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
text-align: center;
overflow: hidden;

    
 h2{
color:$white;
font-size: 50px;
margin: 0%;


}


 p{
color:$white;
font-size: 20px;
position: relative;

}


}

.slick-active h2{
  animation-name:boxr;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;  
    transform: translateY(200px) scaleY(0) ; 
}

@keyframes boxr{
0%{
transform: translateY(200px) scaleY(0) ;
}
25%{
transform: translateY(0px) scaleY(1);
}
100%{
transform: translateY(0px) scaleY(1);
}

}




.chack-main-box{
    width: 92%;
    height: 100px;
    background-color: white;
    position: relative;
    left: 49px;
    bottom: 369px;
    border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
gap:30px;

li{
list-style: none;
}
a{
text-decoration: none;
}
}


.chack-main-box-in{
width: 350px;
height: 50px;
border: 1px solid $ddd;


}

.chack-main-box-in{


p{
color: $ddd;
margin-left: 10px;
font-size: 15px;
}

}

.fill{
background-color:$or;
 &:hover{
background-color: $dark;
 }

p{
text-align: center;
color:$white !important;


}
}
.container{
padding: 110px 56px ;
}

.benner2{
width:100%;
height: 200px;
position: relative;
bottom: 221px;

.benner2-in{
display: flex;

}
}

.benner2-in-image{
width: 50%;
.pull-image1{
position: relative;
    right: -17px;
    top: 4px;
    z-index: 1;
    border-radius: 3px;
}

.pull-image2{
    position: relative;
    left: 79px;
    bottom: 196px;
    border-radius: 3px;
    width: 0px;
}


.side-left{
    width: 297px;
    height: 421px;
    position: absolute;
    z-index: 11;
}


.side-right{
    right: 40px;
    width: 297px;
    height: 421px;
    position: absolute;
    z-index: 11;




}


.benner2-in-image-in{


}


}

.benner2-in-text{
width: 50%;
color:$ddk;
h3{
display: inline-block;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin: 0%;
}
.high{
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
}
p{
    line-height: 28px;
        margin-top: 46px;

}
.nam{
  line-height: 28px;
    margin: 11px 0;
  
}

}


























